* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 16px;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

body ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

body p {
  margin-bottom: 16px;
}

body p a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* -------------------------------------Task 1----------------- */

ul {
  list-style: none;
}

#categories {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 440px;
  border-radius: 8px;
  background-color: #fff;
}

#categories .item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

#categories .item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#categories .item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

#categories .item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

/* -------------------------------------Task 2----------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
